<a href="https://colab.research.google.com/github/Aravindan79/Phonepe-Data/blob/main/Phonepe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!git clone https://github.com/PhonePe/pulse.git

fatal: destination path 'pulse' already exists and is not an empty directory.

In [3]:
!pip install streamlit

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: streamlit in /usr/local/lib/python3.8/dist-packages (1.18.1)
Requirement already satisfied: packaging>=14.1 in /usr/local/lib/python3.8/dist-packages (from streamlit) (23.0)
Requirement already satisfied: pandas>=0.25 in /usr/local/lib/python3.8/dist-packages (from streamlit) (1.3.5)
Requirement already satisfied: pydeck>=0.1.dev5 in /usr/local/lib/python3.8/dist-packages (from streamlit) (0.8.0)
Requirement already satisfied: semver in /usr/local/lib/python3.8/dist-packages (from streamlit) (2.13.0)
Requirement already satisfied: pyarrow>=4.0 in /usr/local/lib/python3.8/dist-packages (from streamlit) (9.0.0)
Requirement already satisfied: typing-extensions>=3.10.0.0 in /usr/local/lib/python3.8/dist-packages (from streamlit) (4.4.0)
Requirement already satisfied: watchdog in /usr/local/lib/python3.8/dist-packages (from streamlit) (2.2.1)
Requirement already satisfied: validators>=0.2 in /usr/local/lib/python3.8/dist-packages (from streamlit) (0.20.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/dist-packages (from streamlit) (2.8.2)
Requirement already satisfied: toml in /usr/local/lib/python3.8/dist-packages (from streamlit) (0.10.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.8/dist-packages (from streamlit) (7.1.2)
Requirement already satisfied: importlib-metadata>=1.4 in /usr/local/lib/python3.8/dist-packages (from streamlit) (6.0.0)
Requirement already satisfied: requests>=2.4 in /usr/local/lib/python3.8/dist-packages (from streamlit) (2.25.1)
Requirement already satisfied: tornado>=6.0.3 in /usr/local/lib/python3.8/dist-packages (from streamlit) (6.0.4)
Requirement already satisfied: cachetools>=4.0 in /usr/local/lib/python3.8/dist-packages (from streamlit) (5.3.0)
Requirement already satisfied: gitpython!=3.1.19 in /usr/local/lib/python3.8/dist-packages (from streamlit) (3.1.31)
Requirement already satisfied: pympler>=0.9 in /usr/local/lib/python3.8/dist-packages (from streamlit) (1.0.1)
Requirement already satisfied: rich>=10.11.0 in /usr/local/lib/python3.8/dist-packages (from streamlit) (13.3.1)
Requirement already satisfied: blinker>=1.0.0 in /usr/local/lib/python3.8/dist-packages (from streamlit) (1.5)
Requirement already satisfied: altair>=3.2.0 in /usr/local/lib/python3.8/dist-packages (from streamlit) (4.2.2)
Requirement already satisfied: protobuf<4,>=3.12 in /usr/local/lib/python3.8/dist-packages (from streamlit) (3.19.6)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/dist-packages (from streamlit) (1.21.6)
Requirement already satisfied: click>=7.0 in /usr/local/lib/python3.8/dist-packages (from streamlit) (7.1.2)
Requirement already satisfied: tzlocal>=1.1 in /usr/local/lib/python3.8/dist-packages (from streamlit) (1.5.1)
Requirement already satisfied: jinja2 in /usr/local/lib/python3.8/dist-packages (from altair>=3.2.0->streamlit) (2.11.3)
Requirement already satisfied: toolz in /usr/local/lib/python3.8/dist-packages (from altair>=3.2.0->streamlit) (0.12.0)
Requirement already satisfied: entrypoints in /usr/local/lib/python3.8/dist-packages (from altair>=3.2.0->streamlit) (0.4)
Requirement already satisfied: jsonschema>=3.0 in /usr/local/lib/python3.8/dist-packages (from altair>=3.2.0->streamlit) (4.3.3)
Requirement already satisfied: gitdb<5,>=4.0.1 in /usr/local/lib/python3.8/dist-packages (from gitpython!=3.1.19->streamlit) (4.0.10)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.8/dist-packages (from importlib-metadata>=1.4->streamlit) (3.12.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=0.25->streamlit) (2022.7.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil->streamlit) (1.15.0)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.4->streamlit) (2.10)
Requirement already satisfied: chardet<5,>=3.0.2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.4->streamlit) (4.0.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.4->streamlit) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.4->streamlit) (1.24.3)
Requirement already satisfied: pygments<3.0.0,>=2.14.0 in /usr/local/lib/python3.8/dist-packages (from rich>=10.11.0->streamlit) (2.14.0)
Requirement already satisfied: markdown-it-py<3.0.0,>=2.1.0 in /usr/local/lib/python3.8/dist-packages (from rich>=10.11.0->streamlit) (2.1.0)
Requirement already satisfied: decorator>=3.4.0 in /usr/local/lib/python3.8/dist-packages (from validators>=0.2->streamlit) (4.4.2)
Requirement already satisfied: smmap<6,>=3.0.1 in /usr/local/lib/python3.8/dist-packages (from gitdb<5,>=4.0.1->gitpython!=3.1.19->streamlit) (5.0.0)
Requirement already satisfied: MarkupSafe>=0.23 in /usr/local/lib/python3.8/dist-packages (from jinja2->altair>=3.2.0->streamlit) (2.0.1)
Requirement already satisfied: attrs>=17.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (22.2.0)
Requirement already satisfied: importlib-resources>=1.4.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (5.10.2)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in /usr/local/lib/python3.8/dist-packages (from jsonschema>=3.0->altair>=3.2.0->streamlit) (0.19.3)
Requirement already satisfied: mdurl~=0.1 in /usr/local/lib/python3.8/dist-packages (from markdown-it-py<3.0.0,>=2.1.0->rich>=10.11.0->streamlit) (0.1.2)

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests
import json
import os
import plotly.express as px
import streamlit as st

In [5]:
#This is to direct the path to get the data as states

path="/content/pulse/data/aggregated/transaction/country/india/state/"
Agg_state_list=os.listdir(path)
Agg_state_list
#Agg_state_list--> to get the list of states in India

#<------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------>#

#This is to extract the data's to create a dataframe

clm={'State':[], 'Year':[],'Quarter':[],'Transaction_type':[], 'Transaction_count':[], 'Transaction_amount':[]}
for i in Agg_state_list:
    p_i=path+i+"/"
    Agg_yr=os.listdir(p_i)    
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['transactionData']:
              Name=z['name']
              count=z['paymentInstruments'][0]['count']
              amount=z['paymentInstruments'][0]['amount']
              clm['Transaction_type'].append(Name)
              clm['Transaction_count'].append(count)
              clm['Transaction_amount'].append(amount)
              clm['State'].append(i)
              clm['Year'].append(j)
              clm['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
df = pd.DataFrame(clm)

In [6]:
df.head()

,State,Year,Quarter,Transaction_type,Transaction_count,Transaction_amount
0,chhattisgarh,2018,4,Recharge & bill payments,2438959,5.545145e+08
1,chhattisgarh,2018,4,Peer-to-peer payments,2342713,8.450105e+09
2,chhattisgarh,2018,4,Merchant payments,458091,3.318430e+08
3,chhattisgarh,2018,4,Financial Services,42199,9.709810e+06
4,chhattisgarh,2018,4,Others,83882,7.024010e+07

In [7]:
df.isnull().sum()

State                 0
Year                  0
Quarter               0
Transaction_type      0
Transaction_count     0
Transaction_amount    0
dtype: int64

In [8]:
path='/content/pulse/data/aggregated/user/country/india/state/'
Agg_state_list=os.listdir(path)
clm2={'State':[], 'Year':[],'Quarter':[],'Brand':[], 'Count':[], 'Percentage':[]}
for i in Agg_state_list:
    p_i=path+i+"/"    
    Agg_yr=os.listdir(p_i) 
    for j in Agg_yr:
        p_j=p_i+j+"/"
        Agg_yr_list=os.listdir(p_j)        
        for k in Agg_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')            
            D=json.load(Data)
            try:
                for z in D['data']['usersByDevice']:
                    clm2['Brand'].append(z['brand'])
                    clm2['Count'].append(z['count'])
                    clm2['Percentage']=(z['percentage'])
                    clm2['State'].append(i)
                    clm2['Year'].append(j)
                    clm2['Quarter'].append(int(k.strip('.json')))
            except:
                pass

df1=pd.DataFrame(clm2)
df1.head()

          State  Year  Quarter     Brand   Count  Percentage
0  chhattisgarh  2018        4    Xiaomi  378100    0.120482
1  chhattisgarh  2018        4   Samsung  280138    0.120482
2  chhattisgarh  2018        4      Vivo  275135    0.120482
3  chhattisgarh  2018        4      Oppo  155513    0.120482
4  chhattisgarh  2018        4  Micromax  154018    0.120482

In [9]:
df1.isnull().sum()

State         0
Year          0
Quarter       0
Brand         0
Count         0
Percentage    0
dtype: int64

In [10]:
path="/content/pulse/data/map/transaction/hover/country/india/state/"
hover_state_list=os.listdir(path)
hover_state_list

clm3={'State':[], 'Year':[],'Quarter':[],'District':[], 'Count':[], 'Amount':[]}
for i in hover_state_list:
    p_i=path+i+"/"
    hover_yr=os.listdir(p_i)    
    for j in hover_yr:
        p_j=p_i+j+"/"
        hover_yr_list=os.listdir(p_j)        
        for k in hover_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for z in D['data']['hoverDataList']:
              Name=z['name']
              count=z['metric'][0]['count']
              amount=z['metric'][0]['amount']
              clm3['District'].append(Name)
              clm3['Count'].append(count)
              clm3['Amount'].append(amount)
              clm3['State'].append(i)
              clm3['Year'].append(j)
              clm3['Quarter'].append(int(k.strip('.json')))
#Succesfully created a dataframe
df2 = pd.DataFrame(clm3)

df2.head()

          State  Year  Quarter               District   Count        Amount
0  chhattisgarh  2018        4      dhamtari district  108799  1.647087e+08
1  chhattisgarh  2018        4         korba district  270387  4.803654e+08
2  chhattisgarh  2018        4      surajpur district  109764  1.929383e+08
3  chhattisgarh  2018        4  baloda bazar district  190033  2.959821e+08
4  chhattisgarh  2018        4         sukma district   29759  6.649305e+07

In [11]:
df2.isnull().sum()

State       0
Year        0
Quarter     0
District    0
Count       0
Amount      0
dtype: int64

In [12]:
path='/content/pulse/data/map/user/hover/country/india/state/'

hover_state_list=os.listdir(path)
hover_state_list

clm4={'State':[], 'Year':[],'Quarter':[],'Users':[], 'Districts':[]}
for i in hover_state_list:
    p_i=path+i+"/"
    hover_yr=os.listdir(p_i)    
    for j in hover_yr:
        p_j=p_i+j+"/"
        hover_yr_list=os.listdir(p_j)        
        for k in hover_yr_list:
            p_k=p_j+k
            Data=open(p_k,'r')
            D=json.load(Data)
            for district, values in D['data']['hoverData'].items():
              users=values['registeredUsers']
              dist=district
              clm4['Users'].append(users)
              clm4['Districts'].append(dist)
              clm4['State'].append(i)
              clm4['Year'].append(j)
              clm4['Quarter'].append(int(k.strip('.json')))

#Succesfully created a dataframe
df3 = pd.DataFrame(clm4)
df3.head()

          State  Year  Quarter  Users              Districts
0  chhattisgarh  2018        4  37491      dhamtari district
1  chhattisgarh  2018        4  88680         korba district
2  chhattisgarh  2018        4  32284      surajpur district
3  chhattisgarh  2018        4  60270  baloda bazar district
4  chhattisgarh  2018        4   9189         sukma district

In [13]:
df3.isnull().sum()

State        0
Year         0
Quarter      0
Users        0
Districts    0
dtype: int64

In [14]:
path="/content/pulse/data/top/transaction/country/india/state/"
top_state_list=os.listdir(path)
top_state_list

clm5={'State':[], 'Year':[],'Quarter':[],'Districts':[], 'Count':[], 'Amount':[]}
for i in top_state_list:
    p_i=path+i+"/"
    top_yr=os.listdir(p_i)    
    for j in top_yr:
        p_j=p_i+j+"/"
        top_yr_list=os.listdir(p_j)        
        for k in top_yr_list:
            p_k=p_j+k
            with open(p_k, 'r') as file:
                D=json.load(file)
            for z in D['data']['districts']:
              Name=z['entityName']
              count=z['metric']['count']
              amount=z['metric']['amount']
              clm5['Districts'].append(Name)
              clm5['Count'].append(count)
              clm5['Amount'].append(amount)
              clm5['State'].append(i)
              clm5['Year'].append(j)
              clm5['Quarter'].append(int(k.strip('.json')))

df4 = pd.DataFrame(clm5)
df4.head()

          State  Year  Quarter       Districts   Count        Amount
0  chhattisgarh  2018        4          raipur  891868  1.740861e+09
1  chhattisgarh  2018        4  janjgir champa  669790  1.023380e+09
2  chhattisgarh  2018        4            durg  529904  9.442874e+08
3  chhattisgarh  2018        4        bilaspur  471373  7.304464e+08
4  chhattisgarh  2018        4         raigarh  371009  6.093552e+08

In [15]:
df4.isnull().sum()

State        0
Year         0
Quarter      0
Districts    0
Count        0
Amount       0
dtype: int64

In [16]:
path="/content/pulse/data/top/user/country/india/state/"
top_state_list=os.listdir(path)
top_state_list

clm6={'State':[], 'Year':[],'Quarter':[],'Districts':[], 'Users':[]}
for i in top_state_list:
    p_i=path+i+"/"
    top_yr=os.listdir(p_i)    
    for j in top_yr:
        p_j=p_i+j+"/"
        top_yr_list=os.listdir(p_j)        
        for k in top_yr_list:
            p_k=p_j+k
            with open(p_k, 'r') as file:
                D=json.load(file)
            for z in D['data']['districts']:
              Name=z['name']
              count=z['registeredUsers']
              clm6['Districts'].append(Name)
              clm6['Users'].append(count)
              clm6['State'].append(i)
              clm6['Year'].append(j)
              clm6['Quarter'].append(int(k.strip('.json')))

df5 = pd.DataFrame(clm6)
df5.head()

          State  Year  Quarter       Districts   Users
0  chhattisgarh  2018        4          raipur  289198
1  chhattisgarh  2018        4            durg  185746
2  chhattisgarh  2018        4        bilaspur  153972
3  chhattisgarh  2018        4         raigarh  116785
4  chhattisgarh  2018        4  janjgir champa  107156

In [17]:
df5.isnull().sum()

State        0
Year         0
Quarter      0
Districts    0
Users        0
dtype: int64

In [18]:
df3['State'].value_counts()

uttar-pradesh                         1500
madhya-pradesh                        1040
bihar                                  760
tamil-nadu                             740
maharashtra                            720
assam                                  660
gujarat                                660
rajasthan                              660
telangana                              660
odisha                                 600
karnataka                              600
chhattisgarh                           540
arunachal-pradesh                      500
jharkhand                              480
west-bengal                            460
jammu-&-kashmir                        440
haryana                                440
punjab                                 440
manipur                                320
kerala                                 280
andhra-pradesh                         260
uttarakhand                            260
himachal-pradesh                       240
nagaland                               220
meghalaya                              220
delhi                                  220
mizoram                                160
tripura                                160
puducherry                              80
sikkim                                  80
dadra-&-nagar-haveli-&-daman-&-diu      60
andaman-&-nicobar-islands               60
ladakh                                  40
goa                                     40
chandigarh                              20
lakshadweep                             20
Name: State, dtype: int64

In [19]:
df.to_csv('agg_transaction.csv', index=False)
df1.to_csv('agg_user.csv', index=False)
df2.to_csv('map_transaction.csv', index=False)
df3.to_csv('map_user.csv', index=False)
df4.to_csv('top_transaction.csv', index=False)
df5.to_csv('top_user.csv', index=False)

In [20]:
import sqlite3

In [21]:
conn = sqlite3.connect('Phonepe_pulse.db')
cursor = conn.cursor()

In [ ]:
cursor.execute("""
CREATE TABLE agg_transaction(
    id INTEGER PRIMARY KEY,
    State VARCHAR(255),
    Year INT,
    Quarter INT,
    Transaction_type TEXT,
    Transaction_count INTEGER,    
    Transaction_amount INT
);
""")

In [23]:
# Load the data into a DataFrame
df = pd.read_csv("agg_transaction.csv")

# Insert the data from the DataFrame into the database
df.to_sql("agg_transaction", conn, if_exists="replace", index=False)

# Commit the changes
conn.commit()

In [ ]:
cursor.execute("""
CREATE TABLE agg_user(
    id INTEGER PRIMARY KEY,
    State VARCHAR(255),
    Year INT,
    Quarter INT,
    Brand TEXT,
    Count INTEGER,
    Percentage FLOAT
);
""")

In [25]:
# Load the data into a DataFrame
df = pd.read_csv("agg_user.csv")

# Insert the data from the DataFrame into the database
df.to_sql("agg_user", conn, if_exists="replace", index=False)

# Commit the changes
conn.commit()

In [ ]:
cursor.execute("""
CREATE TABLE map_transaction(
    id INTEGER PRIMARY KEY,
    State VARCHAR(255),
    Year INT,
    Quarter INT,
    District TEXT,
    Count INTEGER,
    Amount INT
);
""")

In [26]:
# Load the data into a DataFrame
df = pd.read_csv("map_transaction.csv")

# Insert the data from the DataFrame into the database
df.to_sql("map_transaction", conn, if_exists="replace", index=False)

# Commit the changes
conn.commit()

In [ ]:
cursor.execute("""
CREATE TABLE map_user(
    id INTEGER PRIMARY KEY,
    State VARCHAR(255),
    Year INT,
    Quarter INT,
    Users INT,
    District TEXT
);
""")

In [27]:
# Load the data into a DataFrame
df = pd.read_csv("map_user.csv")

# Insert the data from the DataFrame into the database
df.to_sql("map_user", conn, if_exists="replace", index=False)

# Commit the changes
conn.commit()

In [ ]:
cursor.execute("""
CREATE TABLE top_transaction(
    id INTEGER PRIMARY KEY,
    State VARCHAR(255),
    Year INT,
    Quarter INT,
    Districts TEXT,
    Count INTEGER,
    Amount FLOAT
);
""")

In [28]:
# Load the data into a DataFrame
df = pd.read_csv("top_transaction.csv")

# Insert the data from the DataFrame into the database
df.to_sql("top_transaction", conn, if_exists="replace", index=False)

# Commit the changes
conn.commit()

In [ ]:
cursor.execute("""
CREATE TABLE top_user(
    id INTEGER PRIMARY KEY,
    State VARCHAR(255),
    Year INT,
    Quarter INT,
    Districts TEXT,
    Users INT
);
""")

In [29]:
# Load the data into a DataFrame
df = pd.read_csv("top_user.csv")

# Insert the data from the DataFrame into the database
df.to_sql("top_user", conn, if_exists="replace", index=False)

# Commit the changes
conn.commit()

In [48]:
import streamlit as st
import requests

In [ ]:
conn = sqlite3.connect('Phonepe_pulse.db')
cursor = conn.cursor()
st.sidebar.title("Filter")
user = st.sidebar.selectbox(
    "Select All India or State",
    ("All India","State")
)
if(user == "All India"):
  trans_r_user = st.sidebar.selectbox(
      "Transaction or User Detail",
      ("Transaction", "User Detail")
  )
  
  Year = st.sidebar.selectbox(
      "Year",("2018","2019","2020","2021","2022")
  )
  Quater = st.sidebar.radio(
      "Quater",("Q1","Q2","Q3","Q4")
  )
else:
  State=st.sidebar.selectbox(
      'Select State Name',
      (
        'Arunachal pradesh',
       'Assam','Bihar','Chandigarh','Chhattisgarh',
       'Delhi','Goa','Gujarat','Haryana','Himachal pradesh',
       'Jharkhand','Karnataka','Kerala','Ladakh','Lakshadweep',
       'Madhya pradesh','Maharashtra','Manipur','Meghalaya',
       'Mizoram','Nagaland','Odisha','Puducherry','Punjab',
       'Rajasthan','Sikkim','Tamil nadu','Telangana',
       'Tripura','Uttar pradesh','Uttarakhand','West bengal'
       )
  )
  trans_r_user = st.sidebar.selectbox(
      'Transaction or User Details',
      ('TRANSACTIONS','USER')
  )

  Year =st.sidebar.selectbox(
      'YEAR',
      ('2018','2019','2020',
       '2021','2022')
  )

   Quater = st.sidebar.radio(
       'QUATER',
       ('Q1','Q2','Q3','Q4')
   )


   st.title("PhonePe Pulse")

   Url ="https://raw.githubusercontent.com/Aravindan79/Phonepe-Data/main/India_States.json"
   resp = requests.get(Url)
   India_States =json.load(resp.text)